.register-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.042);
}
.registerContainer {
  position: relative;
  background-color: white;
  width: 400px;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.register-header {
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: white;
  position: absolute;
  top: 0;
  width: 400px;
  height: 52px;
  background-color: #2564cf;
}
.register-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-top: 52px;
}
.email-container,
.password-container,
.username-container {
  height: 30px;
  border-bottom: 0.5px solid black;
}
.email-container:focus,
.password-container:focus,
.username-container:focus {
  outline: none;
}
.email-container,
.password-container {
  margin-top: 20px;
}

.username-container:empty::before {
  content: "Username";
  color: gray;
  position: absolute;
}
.password-container:empty::before {
  content: "Password";
  color: gray;
  position: absolute;
}
.email-container:empty::before {
  content: "Email";
  color: gray;
  position: absolute;
}
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.submit-btn {
  background-color: #2564cf;
  color: white;
  border: none;
  width: 96px;
  height: 23px;
  cursor: pointer;
  border-radius: 3px;
}
.submit-btn:hover {
  background-color: #2563cfc5;
}
.register-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.register-nav {
  text-decoration: none !important; /* Ẩn gạch chân mặc định */
  color: rgba(0, 0, 0, 0.568);
  /* Tuỳ chọn: Làm đậm chữ */
}

.register-nav:hover {
  text-decoration: underline !important;
  color: black; /* Hiện gạch chân khi hover */
}
