.header {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #2564cf;
  max-width: 100%;
  height: 48px;
  z-index: 10;
}
.header-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  width: 100px;
}
.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  width: 400px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 300px;

  height: 25px;
}
.search-bar img {
  position: absolute;
  left: 10px;
  bottom: 8px;
}
.search-bar > input:focus {
  outline: transparent;
}

.search-img {
  width: 15px;
  height: 15px;
}
.setting-img {
  width: 20px;
  height: 30px;
}
.profile,
.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.btn-profile,
.btn-setting {
  background-color: transparent;
  border: none;
  color: white;
}
.profile:hover,
.setting:hover {
  background-color: #005a9e;
}
.profile-detail {

  border: 1px solid white;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.profile-detail p {
  font-weight: 100;
}
.full {
  width: 100%;
  height: 100%;
}

.setting-block {
  position:absolute;
  right:0;
  float: right;
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px 10px 18px 16px;
  z-index: 9999;
  background: white;
}

.setting-heading {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  margin-bottom: 32px;
}
.setting-heading-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.setting-heading-btn:hover {
  background-color: #e1dfdd;
}
.setting-heading-btn .exit {
  background-color: transparent;
  border: none;
}
.change-password,
.mode,
.language {
  display: flex;
  position: relative;
  margin-top: 16px;
  width: 100%;
}
.mode-title,
.language-title {
}
.mode-toggle,
.language-toggle {
  position: absolute;
  top: -7px;
  right: 120px;
  padding: 4px;
}
.password-link button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: rgb(30, 81, 169);
}
.password-link .btn-change-password:hover {
  text-decoration: underline;
}
.toggle-btn {
  background-color: #dbdcdd;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 40px;
  height: 20px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 99px;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: left 0.2s ease; /* Chuyển động mượt mà cho left */
}
  
.toggle-btn.toggled {
  background-color: #2564cf;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(100% - 15px); /* Điều chỉnh left để thumb di chuyển */
}
.profile-block {
  background: white;
  position: absolute;
  right:0;
  z-index:9999;
  float: right;
  width: 350px;
  height: 200px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px 10px 18px 16px;

}
.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-details a {
  color: rgb(30, 81, 169);
}
.gmail {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.904);
}
.profile-details li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 5px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-avatar {
  border-radius: 99px;
  width: 100px;
  height: 100px;
}